<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/09d169dcaf.js" crossorigin="anonymous"></script>
  <title>ToDoEx</title>
</head>

<body>
  <main>
    <navbar class="navbar">
      <nav class="navitem">
        <a href="/"><span class="fa-solid fa-calendar-days icon"></span>Today</a></span>
      </nav>
      <nav class="navitem">
        <a href="/work"><span class="fa-solid fa-briefcase icon"></span>Work</a>
      </nav>
    </navbar>