<!-- Include Header partial -->
<%- include("partials/header.ejs")%>

<!-- Main body -->
<!-- "Work" as list title -->
<div class="list-title">
    <h2>Work List (<%=toDoWorkCount%>)</h2>
</div>

<!-- Outer container for the list -->
<div class="list-display">
  <% if (locals.toDoWork) { %>
    <% for (var i = 0; i < toDoWork.length; i++) { %>
          <!-- This is the individual list box -->
          <div class="list-box">
            <input type="checkbox" name="checkbox"><span class="list-item"><%= toDoWork[i]%></span>
            </div>
        <% } %>
    <% } %>
  
  <!-- Add task action is done using this form -->
  <form action="/addtaskwork" method="post">
    <input type="text" name="list-item-work" placeholder="New Task">
    <button type="submit" name="list" class="add-button"><i class="fa-solid fa-plus add-icon"></i></button>
  </form>
</div>

<!-- Include Footer Partial -->
<%- include("partials/footer.ejs")%>