body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-title {
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

.navitem {
  padding: 20px;
}

nav {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  padding: 0 0.5em 0;
}

input:checked + span {
  text-decoration: line-through;
}

.list-display {
  background-color: azure;
  width: 30%;
  margin: auto;
  border-radius: 10px;
}

.list-box {
  padding: 20px;
  border-bottom: gainsboro solid 1px;
}

.list-item {
  margin-left: 10px;
}

.add-button {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  background-color: #DE6262;
  border: none;
  cursor: pointer;
}

.add-icon {
  font-size: 0.8em;
  padding: 0.2em;
  color: azure;
}

input[type=text] {
  padding: 20px;
  background-color: azure;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.form-input-div {
  display: flex;
}

.input-field-div {
  flex: 1;
}

.btn-div {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline: none;
}

.social-links {
  margin-left: 30px;
}
