body {
  width: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

nav {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
}

.icon {
  padding: 0 0.5em 0;
}

input:checked + span {
  text-decoration: line-through;
}

.checkbox {
  padding: 10px;
}